<script id="tmpl-EaselJSForceClusterSliderLiu" type="text/html">
	<div class="EaselJSForceClusterSliderLiu easelJSContainer">
		<div class="clusterChart"></div>
		<div class="contact-info"></div>
	</div>
</script>
