<script id="tmpl-EaselJSForceClusterSliderLiu" type="text/html">
	<div class="EaselJSForceClusterSliderLiu easelJSContainer">
		<div class="ClusterChart">
			<canvas class="ClusterChart-canvas"/>
		</div>
		<div class="contact-info"></div>
	</div>
	
</script>
